<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/bienvenida" routerLinkActive="active">Bienvenida</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/busqueda" routerLinkActive="active">Buscar películas / series</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/acercade" routerLinkActive="active">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listadoarticulos" routerLinkActive="active">Listado articulos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/altaarticulo" routerLinkActive="active">Dar de alta un articulo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <a href="/acercade">Acerca de nosotros</a>
</footer>
